<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/Add_food_order.css"/>
</head>
<body>
    <section class="back">
        <center><h1 class="heading">Food order details</h1></center>
    <form class="form" method="POST">
        <label>customer Name</label>
        <input type="text" name="name" placeholder="Name" required/>
        <label>phno</label>
        <input type="number" name="phno" placeholder="eg:9854132376" required/>
        <label>Address</label>
        <input type="text" name="Address" placeholder="eg:Vijayawada" required/>
        <label>Food item name</label>
        <input type="text" name="item" placeholder="Eg:meals,biryani etc." required/>
        <label>quantity</label>
        <input type="text" name="quantity" placeholder="1plate,2plates etc" required/>
        <button>Submit</button>
    </form>
    </section>
    
</body>
</html>