<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/registration.css"
</head>
<body>
    <section class="back">
    <form class="form" method="POST">
        <h2>Registration form</h2>
        <label>User Name</label>
        <input type="text" name="username" placeholder="Name" required/>
        <label>Email</label>
        <input type="email" name="email" placeholder="Eh:john@gmail.com" required/>
        <label>phno</label>
        <input type="number" name="phno" placeholder="eg:9854132376" required/>
        <label>Password</label>
        <input type="password" name="password" placeholder="john@123" required/>
        <label>Conform Password</label>
        <input type="password" name="confirm_password" placeholder="john@123" required/>
        <button>Submit</button>
    </form>
    </section>
    
</body>
</html>