.back{
     background-image: url(https://img.freepik.com/free-photo/people-taking-photos-food_23-2149303524.jpg?semt=ais_hybrid&w=740&q=80);
    height: 100vh;
    padding-top:20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
    color: orangered;
}

.form{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    margin-left: 32%;
    width:30%;
    row-gap:20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    background-color: aliceblue;
    align-content: center;
    padding-top: 20px;
}
.form input{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: cadetblue;
}
.form button{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: orangered;
    font-size: 20px;
}
.form label{
    font-size: 20px;
}
.form button:active{
    color: antiquewhite;
    background-color: blue;
}

@media(max-width:576px){
    .form{
        width: 70%;
        margin-left:10%;
    }
    .back{
     background-image: url();
     background-color: paleturquoise;
         }
}


@media(min-width:576px) and (max-width:768px){
    .form{
        width: 70%;
        margin-left:10%;
    }
    .back{
          background-image: url();
          background-color: paleturquoise;
}
    
}
@media(min-width:768px) and (max-width:992px){
    .form{
        width: 70%;
        margin-left:10%;
    }
}
@media(min-width:992px) and (max-width:1200px){
    .form{
        width: 70%;
        margin-left:10%;
    }
}
