.background{
    background-color:azure;
    width: 100vw;
    height: 100vh;
    padding-top: 20px;
}
.welcome{
    border: 1px solid palevioletred;
    margin-left: 35%;
    margin-right: 35%;
    padding-bottom:40px;
    padding-top: 40px;
    margin-top:18%;
    background-color: palevioletred;
    border-radius: 10px;
    box-shadow:20px 20px paleturquoise;
}
.data{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}
.data button{
    font-size:20px;
    background-color: bisque;
}
.welcome h2{
    font-family:sans-serif;
}