<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/registration.css">
</head>
<body>
     <section class="back">
    <form class="form" method="POST">
        <h2>Delete account</h2>
        <label>User Name</label>
        <input type="text" name="username" placeholder="Name" required/>
        <button>Submit</button>
    </form>
    </section>
</body>
</html>