<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/welcome.css"/>
</head>
<body>
    <section class="background">
    <div class="welcome">
    <center>
    <h2>Welcome to food order record system</h2>
    <div class="data">
    <a href="{{url_for('register')}}"><button>Register</button></a>
    <a href="{{url_for('login')}}"><button>Login</button></a>
    </div>
    </center>
    </div>
    </section>
    
</body>
</html>